<%= form_for @users do |u| %>
<table>
<tr><td><%= u.label :username %></td>
<td><%= u.text_field :username %></td></tr>
<tr><td><%= u.label :email %></td>
<td><%= u.text_field :email %></td></tr>
<tr><td><%= u.label :first_name %></td>
<td><%= u.text_field :first_name %></td></tr>

<tr><td><%= u.label :last_name %></td>
<td><%= u.text_field :last_name %></td></tr>

<tr><td><%= u.label :full_name %></td>
<td><%= u.text_field :full_name %></td></tr>

<tr><td><%= u.label :user_type %></td>
<td><%= u.text_field :user_type %></td></tr>

<tr><td><%= u.label :contact %></td>
<td><%= u.text_field :contact %></td></tr>
</table>
<%= u.submit %>
<% end %>


